<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    {{#each people}}
      <tr>
        <td>{{name}}</td>
        <td>{{age}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>